@import "tailwindcss";
@plugin "tailwindcss-animate";

@tailwind base;
@tailwind components;
@tailwind utilities;

.auth-input {
  @apply w-full rounded-lg bg-slate-800 border border-slate-700 px-4 py-2
         focus:outline-none focus:ring-2 focus:ring-indigo-500;
}
